footer {
  width: 85%;
  background: $white1;
  position: relative;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas:
    "form adr1 adr2"
    "form ph1 ph2"
    "form em1 em2"
    "form so1 so2";
  h3 {
    color: gray;
    text-transform: uppercase;
  }
  p {
    text-align: left;
  }
  form {
    grid-area: form;
    display: grid;
    grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
    gap: 18px;
    padding: 60px 50px;
    label,
    input,
    textarea {
      width: 100%;
      text-align: left;
      color: $grey3;
    }
    label {
      display: flex;
      align-items: flex-end;
      font-size: 0.7rem;
      @include title;
    }
    input[type="text"],
    textarea {
      border: 1px solid $grey1;
      padding: 10px;
      border-radius: 3px;
      height: 30px;
      outline: none;
      resize: none;
    }
    textarea {
      height: 200px;
    }
    input[type="submit"] {
      text-align: center;
      font-size: 0.8rem;
      padding: 10px 30px;
      letter-spacing: 2px;
      border: 1px solid rgb(184, 184, 184);
      color: rgb(113, 113, 113);
      text-transform: uppercase;
      &:hover {
        background: $black1;
        color: $white1;
        transform: scale(1.05);
      }
    }
    &:after {
      position: absolute;
      content: "";
      transform: translateX(-50%);
      background: rgb(196, 196, 196);
      height: 100%;
      width: 1px;
      left: 50%;
    }
  }
  .info-contact div {
    margin: auto;
    p {
      font-size: 0.8rem;
    }
  }
  .address1:after {
    position: absolute;
    content: "";
    background: rgb(196, 196, 196);
    height: 1px;
    width: 50%;
    left: 50%;
    top: 25%;
  }
  .phone1:after {
    position: absolute;
    content: "";
    background: rgb(196, 196, 196);
    height: 1px;
    width: 50%;
    left: 50%;
    top: 50%;
  }
  .email1:after {
    position: absolute;
    content: "";
    background: rgb(196, 196, 196);
    height: 1px;
    width: 50%;
    left: 50%;
    top: 75%;
  }
  ul {
    width: 80%;
    display: flex;
  }
  li {
    display: list-item;
  }
  i {
    color: $grey1;
    padding: 0;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(128, 128, 128, 0.341);
    border-radius: 50px;
  }
}
