section {
  display: grid;
  margin: 0 auto;
  width: 80%;
  background: whitesmoke;
}
img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
section a {
  font-size: 0.8rem;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 1px solid rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}
section a:hover {
  background: rgb(18, 18, 18);
  color: whitesmoke;
}
.link1 {
  margin: 60px auto;
}
.article1 {
  .article1-container {
    margin: 0 auto;
    width: 80%;
  }
  h4 {
    font-weight: 100;
    position: relative;
    margin: 60px auto;
    font-family: Merriweather;
  }
  h4:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    width: 40%;
    height: 1px;
    background: rgba(128, 128, 128, 0.341);
  }
  h4:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 50%;
    width: 40%;
    height: 1px;
    background: rgba(128, 128, 128, 0.341);
  }
  h2 {
    width: 70%;
    display: block;
    margin: 60px auto;
    font-size: 4rem;
    text-transform: uppercase;
  }
  p {
    display: block;
    margin: 60px auto;
    width: 70%;
    line-height: 40px;
  }
}
.article1-container:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  background: rgb(218, 218, 218);
  height: 1px;
  width: 80%;
}
.article2-3 {
  display: flex;
}
.article2,
.article3 {
  display: flex;
  justify-content: center;
  align-items: center;
  h5 {
    margin-top: 60px;
    text-align: center;
    height: 50px;
    font-family: Merriweather;
    font-weight: 100;
  }
  h3 {
    margin: 0 auto 20px;
    font-size: 1.5rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 60%;
  }
  p {
    display: block;
    margin: 60px auto;
    line-height: 40px;
    text-align: left;
  }
}
.article2 {
  position: relative;
}
.article2:after {
  position: absolute;
  right: 0;
  content: "";
  background: rgb(218, 218, 218);
  height: 100%;
  width: 1px;
}
.article2-container,
.article3-container {
  width: 80%;
}
