@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-family: Inter;
}

body {
  background: url(/assets/images/bg.jpg) fixed center/cover;
}

p {
  font-size: 1.1rem;
  font-family: Merriweather;
  font-style: italic;
}

li {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

header {
  margin: 0 auto;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-container h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 44%;
  text-transform: uppercase;
  font-size: 5rem;
}
.header-container p {
  margin: 40px auto 70px;
}
.header-container .fa-solid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  font-size: 1.1rem;
}

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  background: rgba(181, 181, 181, 0.549);
}
nav ul {
  display: flex;
  align-items: center;
}
nav button {
  height: 100%;
  width: 100%;
  border: none;
  color: whitesmoke;
  background: none;
}
nav a {
  color: whitesmoke;
}

.nav-tab {
  width: 45%;
}
.nav-tab button {
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-tab button:hover {
  cursor: pointer;
  background: rgb(243, 243, 243);
  color: rgb(18, 18, 18);
}

.nav-icons {
  width: 30%;
  font-size: 1.2rem;
}
.nav-icons li:hover {
  cursor: pointer;
  background: rgb(243, 243, 243);
}
.nav-icons li:hover a {
  color: rgb(18, 18, 18);
}

.contact-area {
  position: relative;
  margin: 30px auto 60px;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: "form adr1 adr2" "form ph1 ph2" "form em1 em2" "form so1 so2";
}
.contact-area h6 {
  color: gray;
  text-transform: uppercase;
}
.contact-area p {
  text-align: left;
}
.contact-area form {
  grid-area: form;
}
.contact-area form label,
.contact-area form input,
.contact-area form textarea {
  text-align: left;
  margin: 30px auto;
  width: 90%;
  display: block;
  color: rgb(113, 113, 113);
}
.contact-area form label {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.contact-area form input[type=text] {
  border: 1px solid rgba(128, 128, 128, 0.442);
  border-radius: 3px;
  height: 30px;
  outline: none;
}
.contact-area form textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.431);
  border-radius: 3px;
  height: 200px;
}
.contact-area form input[type=submit] {
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(113, 113, 113);
  text-transform: uppercase;
  width: 30%;
}
.contact-area form input[type=submit]:hover {
  background: rgb(18, 18, 18);
  color: whitesmoke;
}
.contact-area .address1,
.contact-area .address2,
.contact-area .phone1,
.contact-area .phone2,
.contact-area .email1,
.contact-area .email2,
.contact-area .social1,
.contact-area .social2 {
  margin: auto;
}
.contact-area .address1,
.contact-area .phone1,
.contact-area .email1,
.contact-area .social1 {
  text-align: center;
}
.contact-area .address2,
.contact-area .phone2,
.contact-area .email2,
.contact-area .social2 {
  color: rgba(128, 128, 128, 0.498);
  width: 80%;
  text-align: left;
}
.contact-area .address2 p,
.contact-area .phone2 p,
.contact-area .email2 p,
.contact-area .social2 p {
  font-size: 0.8rem;
}
.contact-area .address1 {
  grid-area: adr1;
}
.contact-area .address1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 25%;
}
.contact-area .address2 {
  justify-content: left;
  grid-area: adr2;
}
.contact-area .phone1 {
  grid-area: ph1;
}
.contact-area .phone1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 50%;
}
.contact-area .phone2 {
  justify-content: left;
  grid-area: ph2;
}
.contact-area .email1 {
  grid-area: em1;
}
.contact-area .email1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 75%;
}
.contact-area .email2 {
  justify-content: left;
  grid-area: em2;
}
.contact-area .social1 {
  grid-area: so1;
}
.contact-area .social2 {
  justify-content: left;
  grid-area: so2;
}
.contact-area .social2 ul {
  width: 80%;
  display: flex;
}
.contact-area .social2 li {
  display: list-item;
}
.contact-area .social2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.341);
  border-radius: 50px;
}
.contact-area .social2 a:hover {
  color: whitesmoke;
}

.contact-area:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  background: rgb(196, 196, 196);
  height: 100%;
  width: 1px;
  left: 50%;
}

section {
  display: grid;
  margin: 0 auto;
  width: 80%;
  background: whitesmoke;
}

section a {
  font-size: 0.8rem;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 1px solid rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}

section a:hover {
  background: rgb(18, 18, 18);
  color: whitesmoke;
}

.link1 {
  margin: 60px auto;
}

.article1 .article1-container {
  margin: 0 auto;
  width: 80%;
}
.article1 h4 {
  font-weight: 100;
  position: relative;
  margin: 60px auto;
  font-family: Merriweather;
}
.article1 h4:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 50%;
  width: 40%;
  height: 1px;
  background: rgba(128, 128, 128, 0.341);
}
.article1 h4:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 50%;
  width: 40%;
  height: 1px;
  background: rgba(128, 128, 128, 0.341);
}
.article1 h2 {
  width: 70%;
  display: block;
  margin: 60px auto;
  font-size: 4rem;
  text-transform: uppercase;
}
.article1 p {
  display: block;
  margin: 60px auto;
  width: 70%;
  line-height: 40px;
}

.article1-container:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  background: rgb(218, 218, 218);
  height: 1px;
  width: 80%;
}

.article2-3 {
  display: flex;
}

.article2,
.article3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article2 h5,
.article3 h5 {
  margin-top: 60px;
  text-align: center;
  height: 50px;
  font-family: Merriweather;
  font-weight: 100;
}
.article2 h3,
.article3 h3 {
  margin: 0 auto 20px;
  font-size: 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 60%;
}
.article2 p,
.article3 p {
  display: block;
  margin: 60px auto;
  line-height: 40px;
  text-align: left;
}

.article2 {
  position: relative;
}

.article2:after {
  position: absolute;
  right: 0;
  content: "";
  background: rgb(218, 218, 218);
  height: 100%;
  width: 1px;
}

.article2-container,
.article3-container {
  width: 80%;
}/*# sourceMappingURL=index.css.map */