@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Inter;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited {
  color: rgb(243, 243, 243);
}

body {
  background: url(/assets/images/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: merriweather, serif;
  max-width: 1300px;
  margin: 0 auto;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  animation: animbefore 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes animbefore {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 2px solid rgb(17, 17, 17);
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}

p {
  font-family: merriweather, serif;
  font-style: italic;
}

header {
  position: relative;
  color: rgb(243, 243, 243);
  min-height: 100vh;
}
header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(40px);
  animation: headeranim 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes headeranim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header .header-container h1 {
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 6px;
}
header .header-container p {
  margin: 40px auto 60px;
  width: 85%;
}
header .header-container .fa-solid {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 50px;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.397);
  color: rgb(243, 243, 243);
  width: 85%;
  height: 65px;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
header .nav-tab button {
  font-family: inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: none;
  background: none;
  height: 100%;
  color: rgb(243, 243, 243);
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
header .nav-tab button:hover {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
}
header .nav-icons {
  width: clamp(100px, 25%, 300px);
  font-size: 1.1rem;
}
header .nav-icons li:hover {
  background: rgb(243, 243, 243);
}
header .nav-icons li:hover i {
  transform: scale(1.5);
  color: rgb(17, 17, 17);
}

section {
  display: grid;
  margin: 0 auto;
  width: 80%;
  background: whitesmoke;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

section a {
  font-size: 0.8rem;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 1px solid rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}

section a:hover {
  background: rgb(18, 18, 18);
  color: whitesmoke;
}

.link1 {
  margin: 60px auto;
}

.article1 .article1-container {
  margin: 0 auto;
  width: 80%;
}
.article1 h4 {
  font-weight: 100;
  position: relative;
  margin: 60px auto;
  font-family: Merriweather;
}
.article1 h4:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 50%;
  width: 40%;
  height: 1px;
  background: rgba(128, 128, 128, 0.341);
}
.article1 h4:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 50%;
  width: 40%;
  height: 1px;
  background: rgba(128, 128, 128, 0.341);
}
.article1 h2 {
  width: 70%;
  display: block;
  margin: 60px auto;
  font-size: 4rem;
  text-transform: uppercase;
}
.article1 p {
  display: block;
  margin: 60px auto;
  width: 70%;
  line-height: 40px;
}

.article1-container:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  background: rgb(218, 218, 218);
  height: 1px;
  width: 80%;
}

.article2-3 {
  display: flex;
}

.article2,
.article3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article2 h5,
.article3 h5 {
  margin-top: 60px;
  text-align: center;
  height: 50px;
  font-family: Merriweather;
  font-weight: 100;
}
.article2 h3,
.article3 h3 {
  margin: 0 auto 20px;
  font-size: 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 60%;
}
.article2 p,
.article3 p {
  display: block;
  margin: 60px auto;
  line-height: 40px;
  text-align: left;
}

.article2 {
  position: relative;
}

.article2:after {
  position: absolute;
  right: 0;
  content: "";
  background: rgb(218, 218, 218);
  height: 100%;
  width: 1px;
}

.article2-container,
.article3-container {
  width: 80%;
}

.contact-area {
  position: relative;
  margin: 30px auto 60px;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: "form adr1 adr2" "form ph1 ph2" "form em1 em2" "form so1 so2";
}
.contact-area h6 {
  color: gray;
  text-transform: uppercase;
}
.contact-area p {
  text-align: left;
}
.contact-area form {
  grid-area: form;
}
.contact-area form label,
.contact-area form input,
.contact-area form textarea {
  text-align: left;
  margin: 30px auto;
  width: 90%;
  display: block;
  color: rgb(113, 113, 113);
}
.contact-area form label {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.contact-area form input[type=text] {
  border: 1px solid rgba(128, 128, 128, 0.442);
  border-radius: 3px;
  height: 30px;
  outline: none;
}
.contact-area form textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.431);
  border-radius: 3px;
  height: 200px;
}
.contact-area form input[type=submit] {
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(113, 113, 113);
  text-transform: uppercase;
  width: 30%;
}
.contact-area form input[type=submit]:hover {
  background: rgb(18, 18, 18);
  color: whitesmoke;
}
.contact-area .address1,
.contact-area .address2,
.contact-area .phone1,
.contact-area .phone2,
.contact-area .email1,
.contact-area .email2,
.contact-area .social1,
.contact-area .social2 {
  margin: auto;
}
.contact-area .address1,
.contact-area .phone1,
.contact-area .email1,
.contact-area .social1 {
  text-align: center;
}
.contact-area .address2,
.contact-area .phone2,
.contact-area .email2,
.contact-area .social2 {
  color: rgba(128, 128, 128, 0.498);
  width: 80%;
  text-align: left;
}
.contact-area .address2 p,
.contact-area .phone2 p,
.contact-area .email2 p,
.contact-area .social2 p {
  font-size: 0.8rem;
}
.contact-area .address1 {
  grid-area: adr1;
}
.contact-area .address1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 25%;
}
.contact-area .address2 {
  justify-content: left;
  grid-area: adr2;
}
.contact-area .phone1 {
  grid-area: ph1;
}
.contact-area .phone1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 50%;
}
.contact-area .phone2 {
  justify-content: left;
  grid-area: ph2;
}
.contact-area .email1 {
  grid-area: em1;
}
.contact-area .email1:after {
  position: absolute;
  content: "";
  background: rgb(196, 196, 196);
  height: 1px;
  width: 50%;
  left: 50%;
  top: 75%;
}
.contact-area .email2 {
  justify-content: left;
  grid-area: em2;
}
.contact-area .social1 {
  grid-area: so1;
}
.contact-area .social2 {
  justify-content: left;
  grid-area: so2;
}
.contact-area .social2 ul {
  width: 80%;
  display: flex;
}
.contact-area .social2 li {
  display: list-item;
}
.contact-area .social2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.341);
  border-radius: 50px;
}
.contact-area .social2 a:hover {
  color: whitesmoke;
}

.contact-area:after {
  position: absolute;
  content: "";
  transform: translateX(-50%);
  background: rgb(196, 196, 196);
  height: 100%;
  width: 1px;
  left: 50%;
}/*# sourceMappingURL=index.css.map */